<div class="container">
    <a routerLink="/new-listing" type="button" class="btn btn-info my-3">Create Listing</a>
    <div class="card mb-3 p-3" *ngFor="let listing of listings">
        
    
        <h3>{{listing?.name}}</h3>
        <p>{{listing?.description}}</p>
        <p>$ {{listing?.price}}</p>

        <div class="card-body text-end">
            <a routerLink="/edit-listing/{{listing.id}}" type="button" 
                class="btn btn-warning mx-3"> Edit </a>
            
            <button class="btn btn-danger" (click)="onDeleteById(listing.id)">Delete</button>
        </div>
    
           
    </div>
</div>
